<!DOCTYPE html>
<html>
<head>
  <title>Gallery - view</title>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="css/styles.css" rel="stylesheet">
</head>
<body>
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="javascripts/index.js"></script>
  <div id="navigation-bar">
      <a href="index.html">Gallery</a>
      <a href="upload.html">Upload</a>
  </div>
  <div id="message">hello</div>
  <div id="image_list" class="image-list">
  </div>
</body>
</html>
