<!DOCTYPE html>
<html>
<head>
  <title>Gallery - upload</title>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="css/styles.css" rel="stylesheet">
</head>
<body>
  <div id="navigation-bar">
      <a href="index.html">Gallery</a>
      <a href="upload.html">Upload</a>
  </div>

  <h2>Upload a file</h2>
  <div class="progress">
    <div class="progress-bar" role="progressbar"></div>
  </div>
  <button class="btn btn-lg upload-btn" type="button">Upload File</button>

  <input id="upload-input" type="file" name="uploads[]" multiple="multiple"></br>

  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="javascripts/upload.js"></script>
</body>
</html>
